<h1>Posts</h1>


<table>
  <thead>
    <tr>

      <th>Id</th>
      <th>Tittle</th>
      <th>Context</th>
      <th>User_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td>
          <% if post.blog_pic.attached? %>
            <%= image_tag post.blog_pic, height:'50px', width: '50px' %>
          <% end %>
        </td>
        <td><%= post.id %></td>
        <td><%= post.tittle %></td>
        <td><%= post.context %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to "view", post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div><%= flash[:notice] %></div>

<div class="pagination">
  <%= will_paginate @post %>
</div>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<%= button_to "create post", new_post_path, method: :get if current_user.role=="user" %>

