<strong>id: </strong> <%= @post.id %><br />
<strong>Tittle: </strong> <%= @post.tittle %><br />
<strong>Context: </strong> <%= @post.context %><br />
<strong>User_id: </strong> <%= @post.user_id %><br />
<td><%= link_to "edit", edit_post_path(@post) %></td>
